
.round{border-radius:100px;width:120px}
.center{text-align:center;}
.container{margin-top:1.5em;}
/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
 /* opacity:0;*/  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.body {
 padding-bottom: 70px;
}

.social-nav {
 padding: 0;
 list-style: none;
 display: inline-block;
 margin: 10px auto;
 padding-left: 110px;
}
.social-nav li {
 display: inline-block;
 margin:10px;
}

.model-7 a:hover {
 background: #fff;
}
.model-7  li a {
 color: #00aced;
}
.model-7 a {
 background: none;
 -webkit-box-shadow: 0 0 4px 3px;
 -moz-box-shadow: 0 0 4px 3px;
 box-shadow: 0 0 4px 3px;
 text-shadow: 0 0 1px #333333;
 -webkit-transition: -webkit-transform 0.4s, background 0.4s;
 -moz-transition: -moz-transform 0.4s, background 0.4s;
 -o-transition: -o-transform 0.4s, background 0.4s;
 transition: transform 0.4s, background 0.4s;
 -webkit-border-radius: 100%;
 -moz-border-radius: 100%;
 -ms-border-radius: 100%;
 -o-border-radius: 100%;
 border-radius: 100%;
}
.social-nav a {
 display: inline-block;
 float: left;
 width: 48px;
 height: 48px;
 font-size: 20px;
 color: #FFF;
 text-decoration: none;
 cursor: pointer;
 text-align: center;
 line-height: 48px;
 background: #000;
 position: relative;
 -webkit-transition: 0.5s;
 -moz-transition: 0.5s;
 -o-transition: 0.5s;
 transition: 0.5s;
}

.model-7 a:hover .fa {
 -webkit-transform: rotate(-10deg) scale(3);
 -moz-transform: rotate(-10deg) scale(3);
 -ms-transform: rotate(-10deg) scale(3);
 -o-transform: rotate(-10deg) scale(3);
 transform: rotate(-10deg) scale(3);
}

.model-7 a .fa {
 -webkit-transition: -webkit-transform 1s;
 -moz-transition: -moz-transform 1s;
 -o-transition: -o-transform 1s;
 transition: transform 1s;
}

.fa {
 display: inline-block;
           font: normal normal normal 14px/1 FontAwesome;
           font-size: inherit;
           text-rendering: auto;
           -webkit-font-smoothing: antialiased;
           -moz-osx-font-smoothing: grayscale;
           transform: translate(0, 0);
          }
.content{margin-bottom:5em;min-height:350px;}