---
layout: page
---
<header id="navigation" class="root-sec white nav">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="nav-inner">
                    <nav class="primary-nav">
                        <div class="clearfix nav-wrapper">
                            <span class="logo-text">&lt;s/&gt;</span>
                            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                            <ul class="right static-menu">
                                <li class="search-form-li">
                                    <a id="initSearchIcon" class=""><i class="mdi-action-search"></i> </a>
                                    <div class="search-form-wrap hide">
                                        <form action="#" class="">
                                            <input type="search" class="search">
                                            <button type="submit"><i class="mdi-action-search"></i>
                                            </button>
                                        </form>
                                    </div>
                                </li>
                                <li>
                                    <a class="dropdown-button blog-submenu-init" href="#!" data-activates="dropdown1">
                                        <i class="mdi-navigation-more-vert right"></i>
                                    </a>
                                </li>
                            </ul>
                            <ul class="inline-menu side-nav" id="mobile-demo">

                                <!-- Mini Profile // only visible in Tab and Mobile -->
                                <li class="mobile-profile">
                                    <div class="profile-inner">
                                        <div class="pp-container">
                                            <img src="images/person.png" alt="">
                                        </div>
                                        <h3>Sunil Chowdhary</h3>
                                        <h5>AEM Lead Developer</h5>
                                    </div>
                                </li> <!-- mini profile end-->

                                <li><a href="index.html"><i class="fa fa-home fa-fw"></i>Home</a>
                                </li>
                                <li><a href="blog-with-sidebar.html"><i class="fa fa-pencil fa-fw"></i>Blog with Sidebar</a>
                                </li>
                                <li><a href="blog.html"><i class="fa fa-pencil fa-fw"></i>Blog Full width</a>
                                </li>
                                <li><a href="single.html"><i class="fa fa-pencil fa-fw"></i>Single Blog</a>
                                </li>
                            </ul>
                            <ul id="dropdown1" class="inline-menu submenu-ul dropdown-content">
                                <li><a href="#">Demo link 1</a>
                                </li>
                                <li><a href="#">Demo link 2</a>
                                </li>
                                <li><a href="#">Demo link 3</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header> <!-- header navigation end -->
<!-- Banner start -->
<section id="banner" class="root-sec brand-bg padd-tb-55 single-banner blogpage-banner-wrap">
    <div class="container">
        <div class="row">
            <div class="clearfix blog-banner-text blog-single-banner">
                <div class="col-md-12">
                    <h2 class="title">Your awesome post title</h2>
                    <ul class="clearfix blog-post-meta">
                        <li>By <a href="#">Admin</a>
                        </li>
                        <li>March 28, 2015</li>
                        <li><a href="#">5 Comments</a>
                        </li>
                        <li><a href="#">UX Design</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section> <!-- ./Banner end -->
{{content}}
<div id="disqus_thread"></div>
<script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */
    /*
     var disqus_config = function () {
     this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
     this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
     };
     */
    (function() {  // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');

        s.src = '//sunilchowdhary.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>






<!--  <div class="clearfix post-footer">
    <a href="#" class="left post-like js-favorite" title="Love this"><i class="mdi-action-favorite"></i> <span class="numb">109</span></a>
    <ul class="clearfix right share-post">
      <li><a href="#"><i class="fa fa-facebook"></i> <span>SHARE</span></a>
      </li>
      <li><a href="#"><i class="fa fa-twitter"></i> <span>TWEET</span></a>
      </li>
      <li><a href="#"><i class="fa fa-google-plus"></i> <span>PLUS</span></a>
      </li>
    </ul>
  </div>-->

<!--<div class="comment-reply-section">
  <h2 class="com-title">8 Comments</h2>
  <div class="comment-list-wrapper">
    <ul class="comment-list">
      <li>
        <div class="clearfix card">
          <div class="left comment-img">
            <a href="#"><img src="images/cmt1.jpg" alt="">
            </a>
          </div>
          <div class="card-content comment-content">
            <div class="comment-meta">
              <p class="author"><a href="#">BDInfoSys</a> <span>says:</span>
              </p>
              <p class="date">March 25, 2015 at 07.50 am</p>
              <a href="#" class="tooltips tooltipped reply-btn" data-position="top" data-delay="50" data-tooltip="Reply"><i class="mdi-content-reply"></i></a>
            </div>
            <div class="comment-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non enim ut enim fringilla adipiscing id in lorem. Quisque aliquet neque vitae lectus tempus consectetur.</p>
            </div>
          </div>
        </div>

        <ul class="comment-list">
          <li>
            <div class="clearfix card">
              <div class="left comment-img">
                <a href="#"><img src="images/unknown.jpg" alt="">
                </a>
              </div>
              <div class="card-content comment-content">
                <div class="comment-meta">
                  <p class="author"><a href="#">BDInfoSys</a> <span>says:</span>
                  </p>
                  <p class="date">March 25, 2015 at 07.50 am</p>
                  <a href="#" class="tooltips tooltipped reply-btn" data-position="top" data-delay="50" data-tooltip="Reply"><i class="mdi-content-reply"></i></a>
                </div>
                <div class="comment-text">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non enim ut enim fringilla adipiscing id in lorem. Quisque aliquet neque vitae lectus tempus consectetur.</p>
                </div>
              </div>
            </div>
            <ul class="comment-list">
              <li>
                <div class="clearfix card">
                  <div class="left comment-img">
                    <a href="#"><img src="images/cmt1.jpg" alt="">
                    </a>
                  </div>
                  <div class="card-content comment-content">
                    <div class="comment-meta">
                      <p class="author"><a href="#">BDInfoSys</a> <span>says:</span>
                      </p>
                      <p class="date">March 25, 2015 at 07.50 am</p>
                      <a href="#" class="tooltips tooltipped reply-btn" data-position="top" data-delay="50" data-tooltip="Reply"><i class="mdi-content-reply"></i></a>
                    </div>
                    <div class="comment-text">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non enim ut enim fringilla adipiscing id in lorem. Quisque aliquet neque vitae lectus tempus consectetur.</p>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <div class="clearfix card">
          <div class="left comment-img">
            <a href="#"><img src="images/cmt2.jpg" alt="">
            </a>
          </div>
          <div class="card-content comment-content">
            <div class="comment-meta">
              <p class="author"><a href="#">BDInfoSys</a> <span>says:</span>
              </p>
              <p class="date">March 25, 2015 at 07.50 am</p>
              <a href="#" class="tooltips tooltipped reply-btn" data-position="top" data-delay="50" data-tooltip="Reply"><i class="mdi-content-reply"></i></a>
            </div>
            <div class="comment-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non enim ut enim fringilla adipiscing id in lorem. Quisque aliquet neque vitae lectus tempus consectetur.</p>
            </div>
          </div>
        </div>

        <ul class="comment-list">
          <li>
            <div class="clearfix card">
              <div class="left comment-img">
                <a href="#"><img src="images/cmt1.jpg" alt="">
                </a>
              </div>
              <div class="card-content comment-content">
                <div class="comment-meta">
                  <p class="author"><a href="#">BDInfoSys</a> <span>says:</span>
                  </p>
                  <p class="date">March 25, 2015 at 07.50 am</p>
                  <a href="#" class="tooltips tooltipped reply-btn" data-position="top" data-delay="50" data-tooltip="Reply"><i class="mdi-content-reply"></i></a>
                </div>
                <div class="comment-text">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non enim ut enim fringilla adipiscing id in lorem. Quisque aliquet neque vitae lectus tempus consectetur.</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="clearfix card">
              <div class="left comment-img">
                <a href="#"><img src="images/cmt2.jpg" alt="">
                </a>
              </div>
              <div class="card-content comment-content">
                <div class="comment-meta">
                  <p class="author"><a href="#">BDInfoSys</a> <span>says:</span>
                  </p>
                  <p class="date">March 25, 2015 at 07.50 am</p>
                  <a href="#" class="tooltips tooltipped reply-btn" data-position="top" data-delay="50" data-tooltip="Reply"><i class="mdi-content-reply"></i></a>
                </div>
                <div class="comment-text">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non enim ut enim fringilla adipiscing id in lorem. Quisque aliquet neque vitae lectus tempus consectetur.</p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </li>
      <li>
        <div class="clearfix card">
          <div class="left comment-img">
            <a href="#"><img src="images/unknown.jpg" alt="">
            </a>
          </div>
          <div class="card-content comment-content">
            <div class="comment-meta">
              <p class="author"><a href="#">BDInfoSys</a> <span>says:</span>
              </p>
              <p class="date">March 25, 2015 at 07.50 am</p>
              <a href="#" class="tooltips tooltipped reply-btn" data-position="top" data-delay="50" data-tooltip="Reply"><i class="mdi-content-reply"></i></a>
            </div>
            <div class="comment-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non enim ut enim fringilla adipiscing id in lorem. Quisque aliquet neque vitae lectus tempus consectetur.</p>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="clearfix card">
          <div class="left comment-img">
            <a href="#"><img src="images/cmt1.jpg" alt="">
            </a>
          </div>
          <div class="card-content comment-content">
            <div class="comment-meta">
              <p class="author"><a href="#">BDInfoSys</a> <span>says:</span>
              </p>
              <p class="date">March 25, 2015 at 07.50 am</p>
              <a href="#" class="tooltips tooltipped reply-btn" data-position="top" data-delay="50" data-tooltip="Reply"><i class="mdi-content-reply"></i></a>
            </div>
            <div class="comment-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non enim ut enim fringilla adipiscing id in lorem. Quisque aliquet neque vitae lectus tempus consectetur.</p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="contact-form  comment-reply-form">
  <h2 class="com-title">Leave a Reply<a href="#">Cancel Replay</a></h2>
  <form action="#" class="cform-wrapper">
    <div class="input-field">
      <input id="name" type="text" class="validate input-box">
      <label for="name" class="input-label">Name*</label>
    </div>
    <div class="input-field">
      <input id="email" type="email" class="validate input-box">
      <label for="email" class="input-label">Email*</label>
    </div>
    <div class="input-field">
      <input id="website" type="text" class="validate input-box">
      <label for="website" class="input-label">Website</label>
    </div>
    <div class="input-field textarea-input">
      <textarea id="comment" class="materialize-textarea" style="height: 22px;"></textarea>
      <label for="comment" class="input-label">Comment</label>
    </div>
    <div class="input-field submit-wrap">
      <button type="submit" class="waves-effect waves-light btn-large brand-bg white-text comm-submit regular-text">SEND MESSAGE</button>

    </div>
  </form>
</div>-->
</article>
</div> <!-- ./post container end-->

<!-- Sidebar start-->
<div class="col-sm-4">
    <div class="primary-sidebar">
        <aside class="single-widget">
            <h2 class="widget-title">RECENT POSTS</h2>
            <ul>
                <li>
                    <a href="">The Image Post One</a>
                    <span>March 24, 2015</span>
                </li>
                <li>
                    <a href="">The Image Post Two</a>
                    <span>March 24, 2015</span>
                </li>
                <li>
                    <a href="">The Image Post Three</a>
                    <span>March 24, 2015</span>
                </li>
                <li>
                    <a href="">The Image Post Four</a>
                    <span>March 24, 2015</span>
                </li>
                <li>
                    <a href="">The Image Post Five</a>
                    <span>March 24, 2015</span>
                </li>
            </ul>
        </aside>
        <aside class="single-widget">
            <h2 class="widget-title">CATEGORIES</h2>
            <ul>
                <li><a href="#">UX Design</a>
                </li>
                <li><a href="#">UI Design</a>
                </li>
                <li><a href="#">HTML</a>
                </li>
                <li><a href="#">Audio</a>
                </li>
                <li><a href="#">Video</a>
                </li>
            </ul>
        </aside>
        <aside class="single-widget">
            <h2 class="widget-title">ARCHIVES</h2>
            <ul>
                <li><a href="#">March 24, 2015</a>
                </li>
                <li><a href="#">April 24, 2015</a>
                </li>
                <li><a href="#">May 24, 2015</a>
                </li>
                <li><a href="#">June 24, 2015</a>
                </li>
                <li><a href="#">July 24, 2015</a>
                </li>
            </ul>
        </aside>
        <aside class="single-widget">
            <h2 class="widget-title">TAGS</h2>
            <div class="widget-text">
                <a href="#" class="tags">Art</a>
                <a href="#" class="tags">Awesome</a>
                <a href="#" class="tags">Style</a>
                <a href="#" class="tags">Image</a>
                <a href="#" class="tags">Design</a>
                <a href="#" class="tags">Post</a>
                <a href="#" class="tags">Three</a>
                <a href="#" class="tags">Typhography</a>
                <a href="#" class="tags">BDinfosys</a>
            </div>
        </aside>
    </div>
</div> <!-- ./sidebar end-->
</div>
</div>
</div> <!-- ./container end-->
</section>  <!-- ./Blog Post Container end-->
