---
layout: page
---
<header id="navigation" class="root-sec white nav">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="nav-inner">
                    <nav class="primary-nav">
                        <div class="clearfix nav-wrapper">
                            <a href="/" class="left brand-logo menu-smooth-scroll" data-section="#home">
                                <span class="logo-text">&lt;s/&gt;</span>
                                <!--<img src="images/logo.png" alt="">-->
                            </a>
                            <a href="#" data-activates="mobile-demo" class="button-collapse"><i
                                    class="mdi-navigation-menu"></i></a>
                            <ul class="right static-menu">
                                <li class="search-form-li">
                                    <a id="initSearchIcon" class=""><i class="mdi-action-search"></i> </a>
                                    <div class="search-form-wrap hide">
                                        <form action="#" class="">
                                            <input type="search" class="search">
                                            <button type="submit"><i class="mdi-action-search"></i>
                                            </button>
                                        </form>
                                    </div>
                                </li>
                               <!-- <li>
                                    <a class="dropdown-button blog-submenu-init" href="#!" data-activates="dropdown1">
                                        <i class="mdi-navigation-more-vert right"></i>
                                    </a>
                                </li>-->
                            </ul>
                            <ul class="inline-menu side-nav" id="mobile-demo">

                                <!-- Mini Profile // only visible in Tab and Mobile -->
                                <li class="mobile-profile">
                                    <div class="profile-inner">
                                        <div class="pp-container">
                                            <img src="images/me.png" alt="">
                                        </div>
                                        <h3>Sunil Chowdhary</h3>
                                        <h5>AEM Lead Developer</h5>
                                    </div>
                                </li> <!-- mini profile end-->

                                <li><a href="index.html"><i class="fa fa-home fa-fw"></i>Home</a>
                                </li>
                                <li><a href="blog.html"><i class="fa fa-pencil fa-fw"></i>Blog Home</a>
                                </li>
                            </ul>
                            <!-- <ul id="dropdown1" class="inline-menu submenu-ul dropdown-content">
                                 <li><a href="#">Demo link 1</a>
                                 </li>
                                 <li><a href="#">Demo link 2</a>
                                 </li>
                                 <li><a href="#">Demo link 3</a>
                                 </li>
                             </ul>-->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header> <!-- header navigation end -->
<!-- Banner start -->
<section id="banner" class="root-sec brand-bg padd-t-135-b-55 single-banner blogpage-banner-wrap">
    <div class="container">
        <div class="row">
            <div class="clearfix blog-banner-text blog-single-banner">
                <div class="col-md-12">
                    <h2 class="title">{{page.title}}</h2>
                    <ul class="clearfix blog-post-meta">
                        <li>By <a href="#">{{page.author}}</a>
                        </li>
                        <li>{{ page.date | date: '%B %d, %Y' }}</li>
                        <li><a href="#">{{page.category}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section> <!-- ./Banner end -->
<section id="all-posts" class="root-sec grey lighten-5 blogpage-posts-wrap">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <article class="single-post-page">
                    <div class="clearfix all-blog-post blog-inner with-sidebar">
                        <div class="thumb-wrap">
                            <img src="http://placehold.it/750x400" alt="">
                        </div>
                        <div class="single-post-content">
                        {{content}}
                        </div>
                        <div id="fb-root"></div>
                        <script>(function(d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s); js.id = id;
                            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
                            fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));</script>
                        <div class="fb-comments" data-href="http://www.sunilchowdhary.com" data-width="100%" data-numposts="10"></div>
                    </div>
                </article>
            </div>
            <!-- Sidebar start-->
            <div class="col-sm-4">
                <div class="primary-sidebar">
                    <aside class="single-widget">
                        <h2 class="widget-title">RECENT POSTS</h2>
                        <ul>
                            {% for post in site.posts %}
                            <li>
                                <a href="{{ post.url }}">{{ post.title }}</a>
                                <span>{{post.date | date: '%B %d, %Y' }}</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </aside>
                    <aside class="single-widget">
                        <h2 class="widget-title">CATEGORIES</h2>
                        <ul>
                            <li><a href="#">UX Design</a>
                            </li>
                            <li><a href="#">UI Design</a>
                            </li>
                            <li><a href="#">HTML</a>
                            </li>
                            <li><a href="#">Audio</a>
                            </li>
                            <li><a href="#">Video</a>
                            </li>
                        </ul>
                    </aside>
                    <aside class="single-widget">
                        <h2 class="widget-title">ARCHIVES</h2>
                        <ul>
                            <li><a href="#">March 24, 2015</a>
                            </li>
                            <li><a href="#">April 24, 2015</a>
                            </li>
                            <li><a href="#">May 24, 2015</a>
                            </li>
                            <li><a href="#">June 24, 2015</a>
                            </li>
                            <li><a href="#">July 24, 2015</a>
                            </li>
                        </ul>
                    </aside>
                    <aside class="single-widget">
                        <h2 class="widget-title">TAGS</h2>
                        <div class="widget-text">
                            <a href="#" class="tags">Art</a>
                            <a href="#" class="tags">Awesome</a>
                            <a href="#" class="tags">Style</a>
                            <a href="#" class="tags">Image</a>
                            <a href="#" class="tags">Design</a>
                            <a href="#" class="tags">Post</a>
                            <a href="#" class="tags">Three</a>
                            <a href="#" class="tags">Typhography</a>
                            <a href="#" class="tags">BDinfosys</a>
                        </div>
                    </aside>
                </div>
            </div> <!-- ./sidebar end-->
        </div>
    </div>
</section>  <!-- ./Blog Post Container end-->
